apiVersion: v1
kind: ConfigMap
metadata:
  name: jenkins
  namespace: jenkins
  labels:
    jenkins-jenkins-config: "true"
data:
  jenkins.yaml: |
    jenkins:
      systemMessage: "Jenkins arrancado con JCasC"
