jenkins:
  controller:
    admin:
      username: admin
      password: admin123

    serviceType: ClusterIP

    ingress:
      enabled: true
      ingressClassName: nginx
      hostName: jenkins.jamorgado.es
